<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}"">
  </head>


<body>
  <div class="container" style="background-image: url('/static/img/bg.jpg');background-size: cover;">
    <div class="register">

      <form action="" method="post">
        <h2>Register Form</h2>

        <!-- <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar" />
  </div> -->

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required />

        <label for="email"><b>First Name</b></label>
        <input type="text" name="first_name" required>

        <label for="psw"><b>Last Name</b></label>
        <input type="text" name="last_name" required>

        <label for="psw"><b>Email</b></label>
        <input type="text" name="email" required>

        <button type="submit">Register</button>

          <a href="/register" class="register-button" style="text-decoration: none;" class="btn">Create Account</a>
      </form>
    </div>

  </div>

</body>

</html>